
@{
    ViewBag.Title = "Detay";
}

<div id="demo" class="container">
    <detay></detay>
    {{msg}}
    <child message="hello!"></child>
    <h1 @@click="sayHello">Hello Component</h1>
</div>
<script src="/dist/detay.bundle.js"></script>

